@page "/show-invoices"
@model ShowInvoicesModel
@{
}

@section Meta {
    <title>
        Fakturor -
        @(Branding.WebsiteTitle)
    </title>
}

@section Header {
    <partial name="_Navbar" model="Model.UserToken" />
}

@await Html.PartialAsync("/Pages/Clients/_Shared/_Invoice.cshtml", Model.UserToken)

<main>

    <h4>
        Fakturor
    </h4>

    @if (!Model.Invoices.Any())
    {
        <div class="notice">
            Det finns inga fakturor.
        </div>
    }

    @if (Model.Invoices.Any())
    {
        <figure style="width:100%">
            <table style="width:inherit">
                <tr>
                    <th>Nummer</th>
                    <th>Fakturadatum</th>
                    <th>Mottagare</th>
                    @* <th>Sammanfattning</th> *@
                    @* <th class="end-align">Belopp</th> *@
                    <th class="end-align">Balans</th>
                    @* <th class="end-align">Kvar att betala</th> *@
                </tr>
                @foreach (var invoice in Model.Invoices)
                {
                    <tr>
                        <td>
                            <a href="/show-invoice/@(invoice.Id)">
                                @(invoice.InvoiceNumber?.ToSwedish() ?? "-")</a>
                            @if (invoice.IsCredit)
                            {
                                <span class="muted">Kredit</span>
                            }
                        </td>
                        <td>
                            <a href="/show-invoice/@(invoice.Id)">
                                @(invoice.InvoiceDate.ToIso8601())
                            </a>
                        </td>
                        <td>
                            <a href="/show-invoice/@(invoice.Id)">
                                @(invoice.Customer_Name ?? "-")
                            </a>
                        </td>
                        @* <td>
                            <a href="/show-invoice/@(invoice.Id)">
                                @(invoice.About ?? "-")
                            </a>
                        </td> *@
                        @* <td class="end-align">
                            <a href="/show-invoice/@(invoice.Id)">
                                @(invoice.Total.ToSwedish())
                            </a>
                        </td> *@
                        <td class="end-align">
                            <a href="/show-invoice/@(invoice.Id)">@(
                                invoice.Balance.ToSwedish())
                            </a>
                        </td>
                        @* <td class="end-align">
                            <a href="/show-invoice/@(invoice.Id)">
                                @(invoice.LeftToPay.ToSwedish())
                            </a>
                        </td> *@
                    </tr>
                }
            </table>
        </figure>
    }

</main>
