@page "/show-billing-plan/{id:int}"
@model ShowBillingPlanModel
@{
}

@section Meta {
    <title>Tidsplan - @(Model.BillingPlan.Id) - @(Branding.WebsiteTitle)</title>
}

@section Header {
    <partial name="_Navbar" model="Model.UserToken" />
}

@await Html.PartialAsync("/Pages/Clients/_Shared/_BillingPlan.cshtml", Model.UserToken)

<main>

    <h4>
        Tidsplan
        <span class="muted">
            &thinsp;
            @(Model.BillingPlan.Name)
        </span>
    </h4>

    <figure>
        <table>
            <tr>
                <th>Dag</th>
                <th>Händelse</th>
                <th></th>
            </tr>
            @foreach (var item in Model.BillingPlanItems)
            {
                <tr>
                    <td>
                        @(item.OnDay)
                    </td>
                    <td>
                        @(item.PlannedItemKind)
                    </td>
                    <td>
                        <a href="/edit-billing-plan-item/@(item.Id)" class="nolink">
                            ✏️
                        </a>
                        <a href="/remove-billing-plan-item/@(item.Id)" class="nolink">
                            ❌
                        </a>
                    </td>
                </tr>
            }
            @if (!Model.BillingPlanItems.Any())
            {
                <tr>
                    <td colspan="3">
                        Det saknas händelser i tidsplanen.
                    </td>
                </tr>
            }
        </table>
    </figure>

    <p>
        <a class="button" href="/add-billing-plan-item/@(Model.BillingPlan.Id)">Lägg till händelse</a>
    </p>

    <p>
        <a class="button" href="/edit-billing-plan/@(Model.BillingPlan.Id)">Redigera</a>
        <a class="button" href="/remove-billing-plan/@(Model.BillingPlan.Id)">Ta bort</a>
    </p>

</main>
