@page "/show-payment-terms/{id:int}"
@model ShowPaymentTermsModel
@{
    var terms = Model.PaymentTerms;
}

@section Meta {
    <title>Betalvillkor - @(Model.PaymentTerms.Id) - @(Branding.WebsiteTitle)</title>
}

@section Header {
    <partial name="_Navbar" model="Model.UserToken" />
}

@await Html.PartialAsync("/Pages/Clients/_Shared/_PaymentTerms.cshtml", Model.UserToken)

<main>

    <h4>
        Betalvillkor
        <span class="muted">
            &thinsp;
            @(terms.Name)
        </span>
    </h4>

    <div class="notice">
        <ul>
            <li>
                @if (terms.Reminder)
                {
                    <span>✅ Påminnelse</span>
                }
                else
                {
                    <span>🟩 Påminnelse</span>
                }
            </li>
            <li>
                @if (terms.Demand)
                {
                    <span>✅ Inkassokrav</span>
                }
                else
                {
                    <span>🟩 Inkassokrav</span>
                }
            </li>
            <li>
                @if (terms.Collect)
                {
                    <span>✅ KFM-ansökan</span>
                }
                else
                {
                    <span>🟩 KFM-ansökan</span>
                }
            </li>
        </ul>

        <p>
            Betalvillkor:<br />
            <b>
                @(terms.PaymentTermDays.ToSwedish()) dagar netto
            </b>
        </p>

        <p>
            Accepterad underbetalning:<br />
            <b>
                @(terms.MinToConsiderPaid?.ToSwedish() ?? "–")
            </b>
        </p>

        <ul>
            <li>
                @if (terms.Interest)
                {
                    <span>✅ Dröjsmålsränta</span>
                }
                else
                {
                    <span>0️⃣ Dröjsmålsränta</span>
                }
            </li>
        </ul>

        <p>
            Påminnelseavgift:<br />
            @if (terms.ReminderFee.HasValue)
            {
                <b>
                    @(terms.ReminderFee?.ToOptionalDecimals()) kr
                </b>
            }
            else
            {
                <b>&ndash;</b>
            }
        </p>

        <p>
            Inkassoavgift:<br />
            @if (terms.DemandFee.HasValue)
            {
                <b>
                    @(terms.DemandFee?.ToOptionalDecimals()) kr
                </b>
            }
            else
            {
                <b>&ndash;</b>
            }
        </p>
    </div>

    <p>
        <a class="button" href="/edit-payment-terms/@(Model.PaymentTerms.Id)">Redigera</a>
        <a class="button" href="/remove-payment-terms/@(Model.PaymentTerms.Id)">Ta bort</a>
    </p>

</main>
