@page "/show-rate-limiting"
@model ShowRateLimitingModel
@{
}

@section Meta {
    <title>
        Anropsbegränsning -
        @(Branding.WebsiteTitle)
    </title>
}

@section Header {
    <partial name="_Navbar" model="Model.UserToken" />
}

<main>

    <h4>
        Anropsbegränsning
    </h4>

    <div class="notice">

        <h5>Logg</h5>

        @if (!Model.RateLimitLogItems.Any())
        {
            <p>
                🚧
                &thinsp;
                &ndash;
            </p>
        }
        @foreach (var item in Model.RateLimitLogItems)
        {
            <p>
                <span class="muted">
                    @(item.Created.ToFixedFormatDateShortTime())
                </span>
                <br />
                @(item.Description)
            </p>
        }
    </div>

    <div class="notice">

        <h5>Aktiva IP-addresser</h5>

        <ul>
            @if (!Model.IpAddressEndpointHits.Any())
            {
                <li>
                    🚧
                    &thinsp;
                    &ndash;
                </li>
            }
            @foreach (var hit in Model.IpAddressEndpointHits)
            {
                <li>
                    🚧
                    &thinsp;
                    @(hit.IpAddress)
                    &thinsp;
                    @(hit.Endpoint)
                    &ensp;
                    <span class="muted">
                        @(hit.DateTime.ToFixedFormatDateShortTime())
                    </span>
                </li>
            }
        </ul>

        <p>
            <a class="button" href="/clear-rate-limiting">
                Töm
            </a>
        </p>
    </div>

    <div class="notice">

        <h5>Aktiva inloggningsnamn</h5>

        <ul>
            @if (!Model.SignInAttempts.Any())
            {
                <li>
                    🚧
                    &thinsp;
                    &ndash;
                </li>
            }
            @foreach (var hit in Model.SignInAttempts)
            {
                <li>
                    🚧
                    &thinsp;
                    @(hit.Username)
                    &thinsp;
                    @(hit.Endpoint)
                    &ensp;
                    <span class="muted">
                        @(hit.DateTime.ToFixedFormatDateShortTime())
                    </span>
                </li>
            }
        </ul>

        <a class="button" href="/clear-rate-limiting">
            Töm
        </a>
    </div>

    <div class="notice">

        <h5>Aktiva ändpunkter</h5>

        <ul>
            @if (!Model.EndpointHits.Any())
            {
                <li>
                    🚧
                    &thinsp;
                    &ndash;
                </li>
            }
            @foreach (var hit in Model.EndpointHits)
            {
                <li>
                    🚧
                    &thinsp;
                    @(hit.Endpoint)
                    &ensp;
                    <span class="muted">
                        @(hit.DateTime.ToFixedFormatDateShortTime())
                    </span>
                </li>
            }
        </ul>

        <a class="button" href="/clear-rate-limiting">
            Töm
        </a>
    </div>

</main>
