@page "/show-rate-limiting"
@model ShowRateLimitingModel
@{
}

@section Meta {
    <title>
        Anropsbegränsning -
        @(Branding.WebsiteTitle)
    </title>
}

@section Header {
    <partial name="_Navbar" model="Model.UserToken" />
}

<main>

    <h4>
        Anropsbegränsning
    </h4>

    <div class="notice">

        <h5>IP-address</h5>

        <ul>
            @if (!Model.IpAddressEndpointHits.Any())
            {
                <li>
                    🚧
                    &thinsp;
                    &ndash;
                </li>
            }
            @foreach (var hit in Model.IpAddressEndpointHits)
            {
                <li>
                    🚧
                    &thinsp;
                    @(hit.IpAddress)
                    &thinsp;
                    @(hit.Endpoint)
                    &ensp;
                    <span class="muted">
                        @(hit.DateTime.ToFixedFormatDateShortTime())
                    </span>
                </li>
            }
        </ul>

        <p>
            <a class="button" href="/clear-rate-limiting">
                Töm
            </a>
        </p>
    </div>

    <div class="notice">

        <h5>Inloggningsnamn</h5>

        <ul>
            @if (!Model.SignInAttempts.Any())
            {
                <li>
                    🚧
                    &thinsp;
                    &ndash;
                </li>
            }
            @foreach (var hit in Model.SignInAttempts)
            {
                <li>
                    🚧
                    &thinsp;
                    @(hit.Username)
                    &thinsp;
                    @(hit.Endpoint)
                    &ensp;
                    <span class="muted">
                        @(hit.DateTime.ToFixedFormatDateShortTime())
                    </span>
                </li>
            }
        </ul>

        <a class="button" href="/clear-rate-limiting">
            Töm
        </a>
    </div>

</main>
