@page "/show-payment-report"
@model PaymentReportModel
@{
    var report = Model.ResultsModel;
}

@section Meta {
    <title>
        Betalrapport -
        @(Branding.WebsiteTitle)
    </title>
}

@section Header {
    <partial name="_Navbar" model="Model.UserToken" />
}

@await Html.PartialAsync("/Pages/Clients/_Shared/_Payment.cshtml", Model.UserToken)

<main>
    
    <h4>
        Betalrapport
    </h4>

    <form method="post">

        <label asp-for="QueryModel.StartDate">
            Startdatum
        </label>
        <input asp-for="QueryModel.StartDate" />

        <label asp-for="QueryModel.EndDate">
            Slutdatum
        </label>
        <input asp-for="QueryModel.EndDate" />

        <div asp-validation-summary="All"></div>

        <button type="submit">
            Visa
        </button>

    </form>

    @if (Model.ResultsModel != null)
    {
        <br />

        <h5>Payments</h5>

        <figure>
            <table>
                <tr>
                    <th>Datum</th>
                    <th>Belopp</th>
                    <th>Konto</th>
                    <th>Betalsätt</th>
                    <th>Faktura</th>
                </tr>
                @foreach (var payment in report.Payments)
                {
                    <tr>
                        <td>@(payment.Date.ToIso8601())</td>
                        <td>@(payment.Amount.ToSwedish())</td>
                        <td>@(payment.PaymentAccount?.Name ?? "-")</td>
                        <td>@(payment.PaymentMethod.ToString())</td>
                        <td>@(payment.Invoice?.InvoiceNumber?.ToString() ?? "-")</td>
                    </tr>
                }
            </table>
        </figure>

        <br />

        <h5>Konteringar</h5>

        <figure>
            <table>
                <tr>
                    <th>Konto</th>
                    <th>Debet</th>
                    <th>Kredit</th>
                </tr>
                @foreach (var row in report.PaymentAccountingRows)
                {
                    <tr>
                        <td>@(row.Account)</td>
                        <td>@(row.Debit.ToSwedish())</td>
                        <td>@(row.Credit.ToSwedish())</td>
                    </tr>
                }
            </table>
        </figure>
    }

</main>
