@page "/show-payment-report"
@model PaymentReportModel
@{
    var report = Model.ResultsModel;
}

@section Meta {
    <title>
        Betalrapport -
        @(Branding.WebsiteTitle)
    </title>
}

@section Header {
    <partial name="_Navbar" model="Model.UserToken" />
}

@await Html.PartialAsync("/Pages/Clients/_Shared/_Report.cshtml", Model.UserToken)

<main>
    
    <h4>
        Betalrapport
    </h4>

    <form method="post">

        <label asp-for="QueryModel.StartDate">
            Startdatum
        </label>
        <input asp-for="QueryModel.StartDate" />

        <label asp-for="QueryModel.EndDate">
            Slutdatum
        </label>
        <input asp-for="QueryModel.EndDate" />

        <div asp-validation-summary="All"></div>

        <button type="submit">
            Visa
        </button>

    </form>

    @if (Model.ResultsModel != null)
    {
        <br />

        <h5>Betalningar</h5>

        <figure>
            <table>
                <tr>
                    <th>Datum</th>
                    <th class="end-align">Belopp</th>
                    <th>Konto</th>
                    <th>Faktura</th>
                </tr>
                @foreach (var payment in report.Payments)
                {
                    <tr>
                        <td>@(payment.Date.ToIso8601())</td>
                        <td class="end-align">@(payment.Amount.ToSwedish())</td>
                        <td>@(payment.PaymentAccount?.Name ?? "-")</td>
                        <td>@(payment.Invoice?.InvoiceNumber?.ToString() ?? "-")</td>
                    </tr>
                }
            </table>
        </figure>

        <br />

        <h5>Konteringar</h5>

        <figure>
            <table>
                <tr>
                    <th>Konto</th>
                    <th class="end-align">Debet</th>
                    <th class="end-align">Kredit</th>
                </tr>
                @foreach (var row in report.PaymentAccountingRows)
                {
                    <tr>
                        <td>@(row.Account)</td>
                        <td class="end-align">@(row.Debit.ToSwedish())</td>
                        <td class="end-align">@(row.Credit.ToSwedish())</td>
                    </tr>
                }
            </table>
        </figure>

        <br />

        <h5>Summerad kontering</h5>

        <figure>
            <table>
                <tr>
                    <th>Konto</th>
                    <th class="end-align">Debet</th>
                    <th class="end-align">Kredit</th>
                    <th>Beskrivning</th>
                </tr>
                @foreach (var row in report.SummedPaymentAccountingRows)
                {
                    <tr>
                        <td>@(row.Account)</td>
                        <td class="end-align">@(row.Debit.ToSwedish())</td>
                        <td class="end-align">@(row.Credit.ToSwedish())</td>
                        <td>@(row.Description ?? "-")</td>
                    </tr>
                }
            </table>
        </figure>

        <br />

        <h5>Datum</h5>

        <figure>
            <table>
                <tr>
                    <th>Datum</th>
                    <th>Bankkonto</th>
                    <th>Bokföringskonto</th>
                    <th class="end-align">Belopp</th>
                    <th class="end-align">Antal betalningar</th>
                </tr>
                @foreach (var row in report.PaymentDateSums)
                {
                    <tr>
                        <td>@(row.Date.ToIso8601())</td>
                        <td>@(row.PaymentAccountName)</td>
                        <td>@(row.BookkeepingAccount)</td>
                        <td class="end-align">@(row.Amount.ToSwedish())</td>
                        <td class="end-align">@(row.Count.ToSwedish())</td>
                    </tr>
                }
            </table>
        </figure>

        <br />
    }

</main>
