@page "/show-client-email-account/{id:int}"
@model ShowClientEmailAccountModel
@{
}

@section Meta {
    <title>Epostkonto - @(Model.ClientEmailAccount.FromName) - @(Branding.WebsiteTitle)</title>
}

@section Header {
    <partial name="_Navbar" model="Model.UserToken" />
}

<main>

    <h4>
        📮
        Epostkonto
    </h4>

    <div class="notice">
        <ul>
            <li>
                Avsändare: "@(Model.ClientEmailAccount.FromName)"
                @(Model.ClientEmailAccount.FromAddress)
            </li>
            @if (Model.ClientEmailAccount.ReplyToName.HasValue() || 
                Model.ClientEmailAccount.ReplyToAddress.HasValue())
            {
                <li>
                    Svara till:
                    "@(Model.ClientEmailAccount.ReplyToName)"
                    @(Model.ClientEmailAccount.ReplyToAddress)
                </li>
            }
            <li>
                Server: @(Model.ClientEmailAccount.SmtpHost)
            </li>
            <li>
                Port: @(Model.ClientEmailAccount.SmtpPort)
            </li>
        </ul>
    </div>

    <p>
        <a class="button" href="/edit-client-email-account/@(Model.ClientEmailAccount.Id)">
            Redigera
        </a>

        <a class="button" href="/set-client-email-account-password/@(Model.ClientEmailAccount.Id)">
            Sätt lösenord
        </a>

        <a class="button" href="/remove-client-email-account/@(Model.ClientEmailAccount.Id)">
            Ta bort
        </a>
    </p>

</main>
