@page "/client/{clientId:int}/remove-client-email/{id:int}"
@model RemoveClientEmailMessageModel
@{
}

@section Meta {
    <title>
        Ta bort epostmeddelande -
        @(Branding.WebsiteTitle)
    </title>
}

@section Header {
    <partial name="_NavbarAdmin" model="Model.UserToken" />
}

<main>
    <h4>
        Ta bort epostmeddelande
    </h4>

    <div class="notice">
        <span>
            Från:
            @(Model.ClientEmailMessage.FromName)
            @(Model.ClientEmailMessage.FromAddress)
        </span>
        <br />
        <span>
            Till:
            @(Model.ClientEmailMessage.ToName)
            @(Model.ClientEmailMessage.ToAddress)
        </span>
        <br />
        @if (Model.ClientEmailMessage.ReplyToAddress.HasValue())
        {
            <span>
                Svara till:
                @(Model.ClientEmailMessage.ReplyToName)
                @(Model.ClientEmailMessage.ReplyToAddress)
            </span>
            <br />
        }
        <span>
            Ämne:
            @(Model.ClientEmailMessage.Subject)
        </span>
        <br />
        <span>
            När:
            @(Model.ClientEmailMessage.Created.ToFixedFormatDateShortTime())
        </span>
        <br />
        <span>
            Status:
            @(Model.ClientEmailMessage.EmailStatus.ToString())
        </span>
    </div>

    <form method="post">

        <input type="hidden" asp-for="CommandModel.Id" />

        <div asp-validation-summary="All"></div>

        <p>
            <label asp-for="CommandModel.Confirmed">
                <input asp-for="CommandModel.Confirmed" type="checkbox" />
                Ja, jag är säker
            </label>
        </p>

        <button type="submit">
            Ta bort
        </button>

        <a class="button" href="/client/@(Model.Client.Id)/show-client-email/@(Model.ClientEmailMessage.Id)">
            Avbryt
        </a>
    </form>

</main>
