@page "/show-client-email-queue"
@model ShowClientEmailQueueModel
@{
}

@section Meta {
    <title>
        Skickad epost -
        @(Branding.WebsiteTitle)
    </title>
}

@section Header {
    <partial name="_Navbar" model="Model.UserToken" />
}

<main>

    <h4>
        Skickad epost
    </h4>

    @if (Model.NotSent > 0)
    {
        <p class="notice">
            Väntar på att sändas: @(Model.NotSent)
        </p>
    }

    @if (Model.Failed > 0)
    {
        <p class="notice">
            Misslyckad sändning @(Model.Failed)
        </p>
    }

    <figure>
        <table>
            <tr>
                <th>När</th>
                <th>Namn</th>
                <th>Adress</th>
                <th>Ämne</th>
                <th>Status</th>
            </tr>
            @foreach (var email in Model.EmailHeaders)
            {
                <tr>
                    <td>
                        <a href="/show-client-email/@(email.Id)">
                            @(email.Created.ToFixedFormatDateShortTime())
                        </a>
                    </td>
                    <td>
                        @(email.ToName)
                    </td>
                    <td>
                        @(email.ToAddress)
                    </td>
                    <td>
                        @(email.Subject)
                    </td>
                    <td>
                        @(email.EmailStatus)
                    </td>
                </tr>
            }
            @if (!Model.EmailHeaders.Any())
            {
                <tr>
                    <td colspan="5">
                        Inga
                    </td>
                </tr>
            }
        </table>
    </figure>

    <p>
        <a class="button" href="/remove-client-email-messages">
            Ta bort meddelanden
        </a>
    </p>

</main>
