@page "/add-billing-plan-item/{id:int}"
@model AddBillingPlanItemModel
@{
}

@section Meta {
    <title>
        Lägg till händelse i tidsplan -
        @(Branding.WebsiteTitle)
    </title>
}

@section Header {
    <partial name="_Navbar" model="Model.UserToken" />
}

@await Html.PartialAsync("/Pages/Clients/_Shared/_BillingPlan.cshtml", Model.UserToken)

<main>
    <h4>
        Lägg till en händelse
        <span class="muted">@(Model.BillingPlan.Name)</span>
    </h4>

    <form method="post">

        <input type="hidden" asp-for="CommandModel.BillingPlanId" />

        <label asp-for="CommandModel.PlannedItemKind">
            Typ av händelse
        </label>
        <select asp-for="CommandModel.PlannedItemKind">
            <option value="">–</option>
            <option value="@(PlannedItemKind.Invoice)">
                Faktura
            </option>
            <option value="@(PlannedItemKind.Interest)">
                Räntepåföljd
            </option>
            <option value="@(PlannedItemKind.Reminder)">
                Påminnelse
            </option>
            <option value="@(PlannedItemKind.Demand)">
                Inkassokrav
            </option>
            <option value="@(PlannedItemKind.Collect)">
                KFM-ansökan
            </option>
        </select>

        <label asp-for="CommandModel.OnDay">
            Dag nummer
        </label>
        <input asp-for="CommandModel.OnDay" placeholder="Antal dagar efter faktardatum" />

        <div asp-validation-summary="All"></div>

        <button type="submit">
            Lägg till
        </button>

        <a class="button" href="/show-billing-plan/@(Model.BillingPlan.Id)">
            Avbryt
        </a>
    </form>

</main>
