@page "/edit-payment/{id:int}"
@model EditPaymentModel
@{
}

@section Meta {
    <title>
        Redigera betalning -
        @(Branding.WebsiteTitle)
    </title>
}

@section Header {
    <partial name="_Navbar" model="Model.UserToken" />
}

@await Html.PartialAsync("/Pages/Clients/_Shared/_Payment.cshtml", Model.UserToken)

<main>
    <h4>
        Redigera
    </h4>

    <form method="post">

        <input type="hidden" asp-for="CommandModel.Id" />

        <label asp-for="CommandModel.Amount">
            Belopp
        </label>
        <input asp-for="CommandModel.Amount" />

        <label asp-for="CommandModel.Date">
            Datum
        </label>
        <input asp-for="CommandModel.Date" />

        <label asp-for="CommandModel.PaymentMethod">
            Betalsätt
        </label>
        <select asp-for="CommandModel.PaymentMethod">
            <option value="">–</option>
            <option value="@(PaymentMethod.Cash)">
                Kontant
            </option>
            <option value="@(PaymentMethod.Swish)">
                Swish
            </option>
            <option value="@(PaymentMethod.Autogiro)">
                Autogiro
            </option>
            <option value="@(PaymentMethod.Bankgiro)">
                Bankgiro
            </option>
            <option value="@(PaymentMethod.Plusgiro)">
                Plusgiro
            </option>
            <option value="@(PaymentMethod.Iban)">
                Iban
            </option>
        </select>

        <label asp-for="CommandModel.PaymentAccountId">
            Konto
        </label>
        <select asp-for="CommandModel.PaymentAccountId">
            <option value="">–</option>
            @foreach (var account in Model.PaymentAccounts)
            {
                <option value="@(account.Id)">
                    @(account.Name)
                </option>
            }
        </select>

        <div asp-validation-summary="All"></div>

        <button type="submit">
            Spara
        </button>

        <a class="button" href="/show-payment/@(Model.Payment.Id)">
            Avbryt
        </a>
    </form>

</main>
