@page "/show-payment/{id:int}"
@model ShowPaymentModel
@{
    var payment = Model.Payment;
    var invoice = Model.Invoice;
}

@section Meta {
    <title>
        Betalning - @(Branding.WebsiteTitle)
    </title>
}

@section Header {
    <partial name="_Navbar" model="Model.UserToken" />
}

@await Html.PartialAsync("/Pages/Clients/_Shared/_Payment.cshtml", Model.UserToken)

<main>

    <h4>
        Betalning
    </h4>

    <figure>
        <table>
            <tr>
                <th>Datum</th>
                <td class="end-align">
                    @(payment.Date.ToIso8601())
                </td>
            </tr>
            <tr>
                <th>Belopp</th>
                <td class="end-align">
                    @(payment.Amount.ToSwedish())
                </td>
            </tr>
            <tr>
                <th>Betalsätt</th>
                <td class="end-align">
                    @(payment.PaymentMethod.ToString() ?? "-")
                </td>
            </tr>
            <tr>
                <th>Konto</th>
                <td class="end-align">
                    @if (payment.PaymentAccountId.HasValue)
                    {
                        @(payment.PaymentAccount?.Name ?? "-")
                    }
                    else
                    {
                        <span>&ndash;</span>
                    }
                </td>
            </tr>
        </table>
    </figure>

    @if (invoice != null)
    {
        <br />

        <h5>Knuten till faktura</h5>

        <figure>
            <table>
                <tr>
                    <th>Fakturadatum</th>
                    <td class="end-align">
                        @(invoice.InvoiceDate.ToIso8601())
                    </td>
                </tr>
                <tr>
                    <th>Nummer</th>
                    <td class="end-align">
                        <a href="/show-invoice/@(invoice.Id)">
                            @(invoice.InvoiceNumber?.ToSwedish() ?? "-")
                        </a>
                    </td>
                </tr>
                <tr>
                    <th>Mottagare</th>
                    <td class="end-align">
                        @(invoice.Customer_Name ?? "-")
                    </td>
                </tr>
                <tr>
                    <th>Sammanfattning</th>
                    <td class="end-align">
                        @(invoice.About ?? "-")
                    </td>
                </tr>
                <tr>
                    <th>Belopp</th>
                    <td class="end-align">
                        @(invoice.Total.ToSwedish())
                    </td>
                </tr>
            </table>
        </figure>
    }
    
    @if (Model.PaymentAccountingRows.Count > 0)
    {
        <br />

        <h5>Kontering</h5>

        <figure>
            <table>
                <tr>
                    <th>Konto</th>
                    <th class="end-align">Debet</th>
                    <th class="end-align">Kredit</th>
                </tr>
                @foreach (var row in Model.PaymentAccountingRows)
                {
                    <tr>
                        <td>
                            @(row.Account ?? "Okänt")
                        </td>
                        <td class="end-align">
                            @(row.Debit.ToSwedish())
                        </td>
                        <td class="end-align">
                            @(row.Credit.ToSwedish())
                        </td>
                    </tr>
                }
            </table>
        </figure>

        <br />
    }

    <div role="toolbar" aria-label="Åtgärder">
        <div role="group">
            @if (Model.Payment.InvoiceId == null)
            {
                <a class="button" href="/assign-payment/@(Model.Payment.Id)">
                    Knyt till faktura
                </a>
            }
            @if (Model.Payment.InvoiceId.HasValue)
            {
                <a class="button" href="/unassign-payment/@(Model.Payment.Id)">
                    Lösgör från faktura
                </a>
            }
        </div>
        @if (Model.Payment.InvoiceId == null)
        {
            <div role="group">
                <a class="button" href="/edit-payment/@(Model.Payment.Id)">
                    Redigera
                </a>

                <a class="button" href="/remove-payment/@(Model.Payment.Id)">
                    Ta bort
                </a>
            </div>
        }
        @if (Model.UserToken.IsAdmin)
        {
            <div role="group">
                <a class="button admin" href="/update-payment-accounting-rows/@(Model.Payment.Id)">
                    Skapa kontering
                </a>
            </div>
        }
    </div>

</main>
