@page "/show-payments"
@model ShowPaymentsModel
@{
}

@section Meta {
    <title>
        Betalningar -
        @(Branding.WebsiteTitle)
    </title>
}

@section Header {
    <partial name="_Navbar" model="Model.UserToken" />
}

@await Html.PartialAsync("/Pages/Clients/_Shared/_Payment.cshtml", Model.UserToken)

<main>

    <h4>
        Betalningar
    </h4>

    @if (!Model.Payments.Any())
    {
        <div class="notice">
            Det finns inga betalningar.
        </div>
    }

    @if (Model.Payments.Any())
    {
        <figure>
            <table>
                <tr>
                    <th>Datum</th>
                    <th class="end-align">Belopp</th>
                    <th>Konto</th>
                    <th>Referens</th>
                    <th>Faktura</th>
                </tr>
                @foreach (var payment in Model.Payments)
                {
                    <tr>
                        <td>
                            <a href="/show-payment/@(payment.Id)">
                                @(payment.Date.ToIso8601())
                            </a>
                        </td>
                        <td>
                            <a href="/show-payment/@(payment.Id)">
                                @(payment.Amount.ToSwedish())
                            </a>
                        </td>
                        <td class="end-align">
                            <a href="/show-payment/@(payment.Id)">
                                @(payment.PaymentAccount.Name ?? "-")
                            </a>
                        </td>
                        <td>
                            <a href="/show-payment/@(payment.Id)">
                                @(payment.Reference ?? "-")
                            </a>
                        </td>
                        <td>
                            @if (payment.InvoiceId.HasValue)
                            {
                                <a href="/show-payment/@(payment.Id)">
                                    @(payment.InvoiceNumber)
                                </a>
                            }
                            else
                            {
                                <span>&ndash;</span>
                            }
                        </td>
                    </tr>
                }
            </table>
        </figure>
    }

</main>
