@page "/unassign-payment/{id:int}"
@model UnassignPaymentModel
@{
}

@section Meta {
    <title>
        Frigör betalning från faktura -
        @(Branding.WebsiteTitle)
    </title>
}

@section Header {
    <partial name="_Navbar" model="Model.UserToken" />
}

@await Html.PartialAsync("/Pages/Clients/_Shared/_Payment.cshtml", Model.UserToken)

<main>
    <h4>
        Frigör betalning
        <span class="muted">
            @(Model.Payment.Date.ToIso8601()) &nbsp;
            @(Model.Payment.Amount) kr &nbsp;
            @(Model.Payment.PaymentAccount?.Name)
        </span>
    </h4>

    <div class="notice">
        Faktura: 
        <span>
            <a href="/show-invoice/@(Model.Invoice.Id)">
                @(Model.Invoice.InvoiceNumber?.ToSwedish() ?? "-")
            </a>
        </span>
        <br />
        <span>
            @(Model.Invoice.InvoiceDate.ToIso8601()) &nbsp;
            @(Model.Invoice.Customer_Name) &nbsp;
            @(Model.Invoice.Total) kr
        </span>
    </div>

    <form method="post">

        <input type="hidden" asp-for="CommandModel.Id" />

        <div asp-validation-summary="All"></div>

        <button type="submit">
            Frigör från faktura
        </button>

        <a class="button" href="/show-payment/@(Model.Payment.Id)">
            Avbryt
        </a>
    </form>

</main>
