@page "/show-article-accounting"
@model ShowArticleAccountingModel
@{
}

@section Meta {
    <title>
        Kontering -
        @(Branding.WebsiteTitle)
    </title>
}

@section Header {
    <partial name="_Navbar" model="Model.UserToken" />
}

@await Html.PartialAsync("/Pages/Clients/_Shared/_Articles.cshtml", Model.UserToken)

<main>

    <h4>
        Kontering
    </h4>

    <figure>
        <table>
            <tr>
                <th>Nr</th>
                <th>Namn</th>
                <th>Moms</th>
                <th>Typ</th>
                <th>Intäktskonto</th>
                <th>Moms-konto</th>
            </tr>
            @foreach (var article in Model.Articles)
            {
                <tr>
                    <td>
                        @(article.Number)
                    </td>
                    <td>
                        <a href="/edit-article/@(article.Id)">
                            @(article.Name)
                        </a>
                    </td>
                    <td>
                        @(article.VatRate.ToString("N2", Swedish.CultureInfo))
                    </td>
                    <td>
                        @if (article.ArticleKind == ArticleKind.Goods)
                        {
                            <span>Vara</span>
                        }
                        @if (article.ArticleKind == ArticleKind.Service)
                        {
                            <span>Tjänst</span>
                        }
                    </td>
                    <td>
                        @(article.RevenueAccount)
                    </td>
                    <td>
                        @(article.VatAccount ?? "-")
                    </td>
                </tr>
            }
            @if (!Model.Articles.Any())
            {
                <tr>
                    <td colspan="8">
                        Inga
                    </td>
                </tr>
            }
        </table>
    </figure>

</main>
