@page "/show-article/{id:int}"
@model ShowArticleModel
@{
}

@section Meta {
    <title>Artikel - @(Model.Article.Name) - @(Branding.WebsiteTitle)</title>
}

@section Header {
    <partial name="_Navbar" model="Model.UserToken" />
}

<main>

    <h4>
        Artikel
    </h4>

    <figure>
        <table>
            <tr>
                <th>Nr</th>
                <th>Namn</th>
                <th>Pris</th>
                <th>Enhet</th>
                <th>Moms</th>
                <th>Typ</th>
                <th>Intäktskonto</th>
                <th>Moms-konto</th>
            </tr>
            <tr>
                <td>
                    @(Model.Article.Number)
                </td>
                <td>
                    @(Model.Article.Name)
                </td>
                <td>
                    @(Model.Article.UnitPrice.ToString("N2", Swedish.CultureInfo))
                    @(Swedish.Currency.Short)
                </td>
                <td>
                    @(Model.Article.UnitName)
                </td>
                <td>
                    @(Model.Article.VatValue.ToString("N2", Swedish.CultureInfo))
                </td>
                <td>
                    @if (Model.Article.ArticleKind == ArticleKind.Goods)
                    {
                        <span>Vara</span>
                    }
                    @if (Model.Article.ArticleKind == ArticleKind.Service)
                    {
                        <span>Tjänst</span>
                    }
                </td>
                <td>
                    @(Model.Article.RevenueAccount)
                </td>
                <td>
                    @(Model.Article.VatAccount ?? "-")
                </td>
            </tr>
        </table>
    </figure>

    <p>
        <a class="button" href="/edit-article/@(Model.Article.Id)">
            Redigera
        </a>

        <a class="button" href="/remove-article/@(Model.Article.Id)">
            Ta bort
        </a>
    </p>

</main>
