@page "/show-articles"
@model ShowArticlesModel
@{
}

@section Meta {
    <title>
        Artiklar -
        @(Branding.WebsiteTitle)
    </title>
}

@section Header {
    <partial name="_Navbar" model="Model.UserToken" />
}

@* @section Style {
    <style>
        body {
            grid-template-columns: 1fr min(70rem, 90%) 1fr;
        }
    </style>
} *@

<main>

    <h4>
        Artiklar
    </h4>

    <figure>
        <table>
            <tr>
                <th>Nr</th>
                <th>Namn</th>
                <th>Pris</th>
                <th>Enhet</th>
                <th>Moms</th>
                <th>Typ</th>
                <th>Intäktskonto</th>
                <th>Moms-konto</th>
            </tr>
            @foreach (var article in Model.Articles)
            {
                <tr>
                    <td>
                        @(article.Number)
                    </td>
                    <td>
                        <a href="/show-article/@(article.Id)">
                            @(article.Name)
                        </a>
                    </td>
                    <td>
                        @(article.UnitPrice.ToString("N2", Swedish.CultureInfo)) 
                        @(Swedish.Currency.Short)
                    </td>
                    <td>
                        @(article.UnitName)
                    </td>
                    <td>
                        @(article.VatValue.ToString("N2", Swedish.CultureInfo))
                    </td>
                    <td>
                        @if (article.ArticleKind == ArticleKind.Goods)
                        {
                            <span>Vara</span>
                        }
                        @if (article.ArticleKind == ArticleKind.Service)
                        {
                            <span>Tjänst</span>
                        }
                    </td>
                    <td>
                        @(article.RevenueAccount)
                    </td>
                    <td>
                        @(article.VatAccount ?? "-")
                    </td>
                </tr>
            }
            @if (!Model.Articles.Any())
            {
                <tr>
                    <td colspan="8">
                        Inga
                    </td>
                </tr>
            }
        </table>
    </figure>

    <p>
        <a class="button" href="/add-article">
            Lägg till
        </a>
    </p>

</main>
