@page "/show-article-accounting"
@model ShowArticleAccountingModel
@{
}

@section Meta {
    <title>
        Kontering -
        @(Branding.WebsiteTitle)
    </title>
}

@section Header {
    <partial name="_Navbar" model="Model.UserToken" />
}

@await Html.PartialAsync("/Pages/Clients/_Shared/_Articles.cshtml", Model.UserToken)

<main>

    <h4>
        Kontering
    </h4>

    @if (!Model.Articles.Any())
    {
        <div class="notice">
            Det finns inga bokföringskonton.
        </div>
    }

    @if (Model.Articles.Any())
    {
        <figure>
            <table>
                <tr>
                    <th>Nr</th>
                    <th>Namn</th>
                    <th>Moms</th>
                    <th>Intäktskonto</th>
                    <th>Moms-konto</th>
                    <th></th>
                </tr>
                @foreach (var article in Model.Articles)
                {
                    <tr>
                        <td>
                            @(article.Number)
                        </td>
                        <td>
                            <a href="/edit-article-accounting/@(article.Id)">
                                @(article.Name)
                            </a>
                        </td>
                        <td>
                            @(article.VatRate.ToString("N2", Swedish.CultureInfo))
                        </td>
                        <td>
                            @(article.RevenueAccount)
                        </td>
                        <td>
                            @(article.VatAccount ?? "-")
                        </td>
                        <td>
                            <a href="/edit-article-accounting/@(article.Id)" class="nolink">
                                ✏️
                            </a>
                        </td>
                    </tr>
                }
            </table>
        </figure>
    }

</main>
