@page "/show-customer/{id:int}"
@model ShowCustomerModel
@{
}

@section Meta {
    <title>Kund - @(Model.Customer.Name) - @(Branding.WebsiteTitle)</title>
}

@section Header {
    <partial name="_Navbar" model="Model.UserToken" />
}

@await Html.PartialAsync("/Pages/Clients/_Shared/_Customers.cshtml", Model.UserToken)

<main>

    @if (Model.Customer.CustomerKind == CustomerKind.Person)
    {
        <h4>
            👤 @(Model.Customer.Name)
        </h4>
    }
    @if (Model.Customer.CustomerKind == CustomerKind.Organization)
    {
        <h4>
            🏢 @(Model.Customer.Name)
        </h4>
    }

    <div class="notice">
        @if (Model.Customer.CustomerKind == CustomerKind.Person)
        {
            <ul>
                @if (Model.Customer.Ssn10.HasValue())
                {
                    <li>
                        @(Model.Customer.Ssn10?.ToSsnWithDash() ?? "Okänt personnummer")
                    </li>
                }
                <li>
                    @(Model.Customer.EmailAddress)
                </li>
            </ul>
        }
        @if (Model.Customer.CustomerKind == CustomerKind.Organization)
        {
            <ul>
                @if (Model.Customer.Orgnum.HasValue())
                {
                    <li>
                        @(Model.Customer.Orgnum?.ToOrgnumWithDash() ?? "Okänt organisationsnr")
                    </li>
                }
                <li>
                    @(Model.Customer.EmailAddress)
                </li>
            </ul>
        }
    </div>

    <p>
        @if (Model.Customer.CustomerKind == CustomerKind.Person)
        {
            <a class="button" href="/edit-customer-person/@(Model.Customer.Id)">
                Redigera
            </a>
        }

        @if (Model.Customer.CustomerKind == CustomerKind.Organization)
        {
            <a class="button" href="/edit-customer-organization/@(Model.Customer.Id)">
                Redigera
            </a>
        }

        <a class="button" href="/remove-customer/@(Model.Customer.Id)">
            Ta bort
        </a>
    </p>

    <h5>
        Etiketter
    </h5>

    <ul class="notice">
        @foreach (var keyword in Model.CustomerTags)
        {
            <li>
                🏷️
                &ensp;
                <a href="/show-customer-tag/@(keyword.Id)">@(keyword.Key)</a>
                @if (keyword.Value != null)
                {
                    <span>
                        &ensp;
                        <span class="muted">@(keyword.Value)</span>
                    </span>
                }
            </li>
        }

        @if (!Model.CustomerTags.Any())
        {
            <li>
                🏷️
                &ensp;
                &ndash;
            </li>
        }
    </ul>

    <p>
        <a class="button" href="/edit-customer-tags/@(Model.Customer.Id)">
            Redigera
        </a>
    </p>

</main>
