@page "/show-blocked-requests"
@model ShowBlockedRequestsModel
@{
}

@section Meta {
    <title>
        Blockerade anrop -
        @(Branding.WebsiteTitle)
    </title>
}

@section Header {
    <partial name="_Navbar" model="Model.UserToken" />
}

<main>

    <h4>
        Blockerade anrop
    </h4>

    <div class="notice">
        <ul>
            <li>
                ➡️
                &thinsp;
                <a href="/show-blocked-urls">URL:er</a>
            </li>
            <li>
                ➡️
                &thinsp;
                <a href="/show-blocked-user-agents">Agenter</a>
            </li>
            <li>
                ➡️
                &thinsp;
                <a href="/show-blocked-ip-addresses">IP-adresser</a>
            </li>
        </ul>
    </div>

    <h5>
        Anrop
    </h5>

    <div class="notice" >

        <ul>
            @foreach (var request in Model.BlockedRequests)
            {
                <li>
                    <a href="/show-blocked-request/@(request.Id)">
                        @(request.Created.ToFixedFormatDateShortTime())
                    </a>
                    <br />
                    @(request.Method)
                    &thinsp;
                    @(request.Url)
                    <br />
                    @(request.IpAddress)
                    <br />
                    <br />
                </li>
            }

            @if (!Model.BlockedRequests.Any())
            {
                <li>
                    🛑
                    &thinsp;
                    &ndash;
                </li>
            }
        </ul>

    </div>

    <p>
        <a class="button" href="/remove-blocked-requests">
            Ta bort
        </a>
    </p>

</main>
