@page "/show-config"
@model ShowConfigModel
@{
}

@section Meta {
    <title>Konfiguration - @(Branding.WebsiteTitle)</title>
}

@section Header {
    <partial name="_Navbar" model="Model.UserToken" />
}

<main>
    
    <h4>
        Konfiguration
    </h4>

    <br />

    <h5>Firewall</h5>
    <pre class="notice">@(Model.FirewallJson)</pre>

    <h5>Smtp</h5>
    <pre class="notice">@(Model.SmtpJson)</pre>

    <h5>SignUp</h5>
    <pre class="notice">@(Model.SignUpJson)</pre>

    <h5>SignIn</h5>
    <pre class="notice">@(Model.SignInJson)</pre>

    <h5>BadSignIn</h5>
    <pre class="notice">@(Model.BadSignInJson)</pre>

    <h5>Distribution</h5>
    <pre class="notice">@(Model.DistributionJson)</pre>

</main>
