@page "/show-invoice-range/{id:int}"
@model ShowInvoiceRangeModel
@{
}

@section Meta {
    <title>
        Serie
        @(Model.InvoiceRange.StartNumber)-
        @(Model.InvoiceRange.EndNumber) - @(Branding.WebsiteTitle)
    </title>
}

@section Header {
    <partial name="_Navbar" model="Model.UserToken" />
}

@await Html.PartialAsync("/Pages/Clients/_Shared/_InvoiceRange.cshtml", Model.UserToken)

<main>

    <h4>
        Serie
        @(Model.InvoiceRange.StartNumber)-
        @(Model.InvoiceRange.EndNumber)
    </h4>

    <div class="notice">
        Antal fakturor i serien: @(Model.InvoiceCount)
    </div>

    <p>
        <a class="button" href="/edit-invoice-range/@(Model.InvoiceRange.Id)">
            Redigera
        </a>

        <a class="button" href="/remove-invoice-range/@(Model.InvoiceRange.Id)">
            Ta bort
        </a>
    </p>

</main>
