@page "/show-invoice-drafts"
@model ShowInvoiceDraftsModel
@{
}

@section Meta {
    <title>
        Fakturautkast -
        @(Branding.WebsiteTitle)
    </title>
}

@section Header {
    <partial name="_Navbar" model="Model.UserToken" />
}

@await Html.PartialAsync("/Pages/Clients/_Shared/_Invoice.cshtml", Model.UserToken)

<main>

    <h4>
        Fakturautkast
    </h4>

    @if (!Model.InvoiceDrafts.Any())
    {
        <div class="notice">
            Det finns inga fakturautkast.
        </div>
    }

    @if (Model.InvoiceDrafts.Any())
    {
        <figure>
            <table>
                <tr>
                    <th>Fakturadatum</th>
                    <th>Mottagare</th>
                    <th>Sammanfattning</th>
                    <th>Belopp</th>
                </tr>
                @foreach (var draft in Model.InvoiceDrafts)
                {
                    <tr>
                        <td>
                            <a href="/show-invoice-draft/@(draft.Id)">
                                @(draft.InvoiceDate?.ToIso8601() ?? "-")
                            </a>
                        </td>
                        <td>
                            <a href="/show-invoice-draft/@(draft.Id)">
                                @(draft.Customer_Name ?? "-")
                            </a>
                        </td>
                        <td>
                            <a href="/show-invoice-draft/@(draft.Id)">
                                @(draft.About ?? "-")
                            </a>
                        </td>
                        <td>
                            <a href="/show-invoice-draft/@(draft.Id)">
                                @(draft.Total.ToSwedish())
                            </a>
                        </td>
                    </tr>
                }
            </table>
        </figure>
    }

</main>
