@page "/show-invoice-draft/{id:int}"
@model ShowInvoiceDraftModel
@{
}

@section Meta {
    <title>Utkast - @(Model.InvoiceDraft.Id) - @(Branding.WebsiteTitle)</title>
}

@section Header {
    <partial name="_Navbar" model="Model.UserToken" />
}

<main>

    <h4>
        Fakturautkast: 
        <a href="/show-customer/@(Model.Customer.Id)">
            @(Model.Customer.Name)
        </a>
    </h4>

    <ul class="notice">
        <li>
            <a href="/edit-invoice-draft/@(Model.InvoiceDraft.Id)">
                @(Model.InvoiceDraft.About)
            </a>
        </li>
    </ul>

    <p>
        <a class="button" href="/edit-invoice-draft/@(Model.InvoiceDraft.Id)">
            Redigera
        </a>

        <a class="button" href="/remove-invoice-draft/@(Model.InvoiceDraft.Id)">
            Ta bort
        </a>
    </p>

    <h5>Artiklar</h5>

    <figure>
        <table>
            <tr>
                <th>Nr</th>
                <th>Artikel</th>
                <th>Kvantitet</th>
                <th>Pris</th>
                <th>Moms</th>
                <th></th>
                <th>Intäktskonto</th>
                <th>Moms-konto</th>
            </tr>
            @foreach (var row in Model.InvoiceDraftRows)
            {
                <tr>
                    <td>
                        @(row.ArticleNumber)
                    </td>
                    <td>
                        <a href="/edit-invoice-draft-row/@(row.Id)">
                            @(row.ArticleName)
                        </a>
                    </td>
                    <td>
                        <a href="/edit-invoice-draft-row/@(row.Id)">
                            @(row.Quantity.ToString("N2", Swedish.CultureInfo))
                            @(row.Unit)
                        </a>
                    </td>
                    <td>
                        <a href="/edit-invoice-draft-row/@(row.Id)">
                            @(row.UnitPrice.ToString("N2", Swedish.CultureInfo))
                            @(Swedish.Currency.Short)
                        </a>
                    </td>
                    <td>
                        @(row.VatPercentage.ToString("N2", Swedish.CultureInfo))
                    </td>
                    <td>
                        <a href="/remove-invoice-draft-row/@(row.Id)" class="nolink">
                            ❌
                        </a>
                    </td>
                    <td>
                        @(row.RevenueAccount)
                    </td>
                    <td>
                        @(row.VatAccount ?? "-")
                    </td>
                </tr>
            }
        </table>
    </figure>

    <p>
        <a class="button" href="/add-invoice-draft-row/@(Model.InvoiceDraft.Id)">
            Lägg till rad
        </a>
    </p>

    <h5>Summering</h5>

    <figure>
        <table>
            <tr>
                <th>Netto</th>
                <th>Moms</th>
                <th>Avrundning</th>
                <th>Totalt</th>
            </tr>
            <tr>
                <td>
                    @(Model.InvoiceDraft.NetAmount.ToSwedish())
                </td>
                <td>
                    @(Model.InvoiceDraft.VatAmount.ToSwedish())
                </td>
                <td style="text-align:end">
                    @(Model.InvoiceDraft.TotalRounding.ToSwedish())
                </td>
                <td>
                    @(Model.InvoiceDraft.Total.ToSwedish())
                </td>
        </table>
    </figure>

</main>
