@page "/show-invoice-draft/{id:int}"
@model ShowInvoiceDraftModel
@{
}

@section Meta {
    <title>Utkast - @(Model.InvoiceDraft.Id) - @(Branding.WebsiteTitle)</title>
}

@section Header {
    <partial name="_Navbar" model="Model.UserToken" />
}

<main>

    <h4>
        Fakturautkast
    </h4>

    <div class="notice">
        <p>
            <a href="/show-customer/@(Model.Customer.Id)">
                @(Model.Customer.Name)
            </a>
        </p>
    </div>

    <figure>
        <table>
            <tr>
                <th>Nr</th>
                <th>Artikel</th>
                <th>Kvantitet</th>
                <th>Pris</th>
                <th>Moms</th>
                <th></th>
            </tr>
            @foreach (var row in Model.InvoiceDraftRows)
            {
                <tr>
                    <td>
                        @(row.Article.Number)
                    </td>
                    <td>
                        @(row.Article.Name)
                    </td>
                    <td>
                        <a href="/edit-invoice-draft-row/@(row.Id)">@(
                            row.Quantity.ToString("N2", Swedish.CultureInfo)
                        )</a>
                        @(row.Article.UnitName)
                    </td>
                    <td>
                        <a href="/edit-invoice-draft-row/@(row.Id)">@(
                            row.Article.UnitPrice.ToString("N2", Swedish.CultureInfo)
                        )</a>
                        @(Swedish.Currency.Short)
                    </td>
                    <td>
                        @(row.Article.VatValue.ToString("N2", Swedish.CultureInfo))
                    </td>
                    <td>
                        <a href="/remove-invoice-draft-row/@(row.Id)" class="nolink">
                            ❌
                        </a>
                    </td>
                </tr>
            }
        </table>
    </figure>

    <p>
        <a class="button" href="/add-invoice-draft-row/@(Model.InvoiceDraft.Id)">
            Lägg till rad
        </a>
    </p>

    <p>
        <a class="button" href="/edit-invoice-draft/@(Model.InvoiceDraft.Id)">
            Redigera
        </a>

        <a class="button" href="/remove-invoice-draft/@(Model.InvoiceDraft.Id)">
            Ta bort
        </a>
    </p>

</main>
